*{
    padding:5px;
    background-color: aliceblue;
}
.inputform{
    font-size: larger;
    border: 3px solid black;
    height: 250px;
    width:25%;
    padding:20px;
}
#yourMessage{
    width:250px;
    height:100px;
    margin-top:15px;
}
